@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* We base the path on where stuff is compiled into css/main.css */
  background-image: url('../img/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 90% -25%;
}